* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #EEE;
}

.container
{
    height: 100%;
    padding: 10px;
}

    .titulo {
        text-align: center;
        height: 70px;
    }

    .titulo h1 {
        display: inline;
    }

    .titulo h5 {
        font-weight: normal;
        display: inline;
    }

    .containerGrid {
        display: grid;
        grid-template-areas:
        "caja1 caja2 caja3"
        "caja4 caja5 caja6"
        "caja7 caja8 caja9"
        "caja10 caja11 caja9";

        grid-auto-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .containerGrid > div {
        border: 1px solid #CCC;
        border-radius: 10px;
        padding: 20px;
        transition: background-color 0.3s linear;
    }

    .containerGrid > div:not(.caja9):hover {
        border: 1px solid black;
        background-color: #FFF;
    }

        .imagen {
            text-align: center;
        }

        .imagen img {
            width: 80%;
            max-width: 300px;
        }

        .caja1 {
            grid-area: caja1;
        }

        .caja2 {
            grid-area: caja2;
        }

        .caja3 {
            grid-area: caja3;
        }
        
        .caja4 {
            grid-area: caja4;
        }
        
        .caja5 {
            grid-area: caja5;
        }

        .caja6 {
            grid-area: caja6;
        }

        .caja7 {
            grid-area: caja7;
        }

        .caja8 {
            grid-area: caja8;
        }

        .caja9 {
            grid-area: caja9;
            background-color: black;
            color: white;
        }

            .next {
                margin-top: 15px;
                width: 100%;
                display: grid;
                gap: 15px;
                grid-template-columns: repeat(18, 1fr);
            }

                .pixel {
                    background-color: #999;
                    width: 1px;
                    height: 1px;
                    transition: background-color, box-shadow 0.5s linear;
                }

        .caja9:hover #pixel0,                                                                   .caja9:hover #pixel4,               .caja9:hover #pixel6, .caja9:hover #pixel7, .caja9:hover #pixel8,               .caja9:hover #pixel10,                                                                     .caja9:hover #pixel14,.caja9:hover #pixel15,.caja9:hover #pixel16,.caja9:hover #pixel17,
        .caja9:hover #pixel18, .caja9:hover #pixel19,                                           .caja9:hover #pixel22,              .caja9:hover #pixel24,                                                                                  .caja9:hover #pixel29,                       .caja9:hover #pixel31,                                            .caja9:hover #pixel34,
        .caja9:hover #pixel36,                      .caja9:hover #pixel38,                      .caja9:hover #pixel40,              .caja9:hover #pixel42, .caja9:hover #pixel43, .caja9:hover #pixel44,                                                           .caja9:hover #pixel48,                                                                  .caja9:hover #pixel52,
        .caja9:hover #pixel54,                                            .caja9:hover #pixel57,.caja9:hover #pixel58,              .caja9:hover #pixel60,                                                                                  .caja9:hover #pixel65,                       .caja9:hover #pixel67,                                            .caja9:hover #pixel70,
        .caja9:hover #pixel72,                                                                  .caja9:hover #pixel76,              .caja9:hover #pixel78, .caja9:hover #pixel79, .caja9:hover #pixel80,            .caja9:hover #pixel82,                                                                      .caja9:hover #pixel86,                     .caja9:hover #pixel88
        {
            background-color: #FFF;
            box-shadow: 0 0 1px 1px rgba(50,145,255,.8),0 0 2px 1px rgba(50,145,255,.25)
        }

        .caja10 {
            grid-area: caja10;
        }

        .caja11 {
            grid-area: caja11;
        }

@media (max-width: 920px) {
    .containerGrid {
        grid-template-areas:
        "caja1 caja2"
        "caja3 caja4"
        "caja3 caja5"
        "caja3 caja6"
        "caja8 caja7"
        "caja10 caja9"
        "caja11 caja9"
        ;
        
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 680px) {
    .containerGrid {
        grid-template-areas:
        "caja1"
        "caja2"
        "caja3"
        "caja4"
        "caja5"
        "caja6"
        "caja7"
        "caja8"
        "caja10"
        "caja11"
        "caja9" 
        ;
        
        grid-template-columns: repeat(1, 1fr);
    }
}