body {
    font-family: Arial, Verdana;
    font-size: 12pt;
}
    
#cabecera {
    background: lightGreen;
    padding: 15px;
}

#central {
    margin-top: 2px;
    margin-bottom: 5px;
    }
    
#listal {
    list-style: none;
    padding: 0;
    margin: 0;
}

#lista2 {
    list-style: none;
    padding: 0;
    margin: 0;    
}
    
#lista2 li {
    background-color: gray;
    border: 1px solid black;
    width: 20%;
}

#lista3 {
    list-style: none;
    padding: 0;
    margin: 0;
}

#lista3 li {
    display: inline;
    padding: 2px;
    background-color: gray;
    border: 1px solid black;
}

/* Estilo para el li al pasar por encima */
#lista3 li:hover {
    background-color: white;
}

#lista3 a:hover {
    color: black;
    background-color: white;
}
    
    /* Estilo para el enlace de las listas */
#lista3 a {    
    color: white;
    text-decoration: none;
}

footer{
    display: flex;
    justify-content: center;
}

#pie{
    clear: both;
    text-align: center;
    background-color: green;
    width: 150px;
}