@use 'variables';
@use 'mixins';
@use 'breakpoints';

@mixin main() {
    main {
        height: 90vh;

        .container {
            @include mixins.container();

            .estudios {
                @include mixins.carta(center);

                i {
                    font-size: 50px;
                    margin: 0px 20px;
                    margin-top: 20px;
                }
            }
            
        }
    }
}