$menuColorBG: rgb(128, 202, 226);
$bodyColorBG: lightcyan;
$hoverColorBG: rgb(192, 239, 255);

$colorTitulo: red;
$colorEnlaces: blue;
$colorParrafos: green;

$margenParrafos: 5px;

$cantidadItems: 5;

$escalaColores: red, blue, green, yellow;