/* Estilos para tablas */

table {
    border: 1px solid gray;
}

thead {
    background-color: gray;
    color: white;
    font-style: bold;
    text-align: center;
}

tbody {
    background-color: white;
    color: gray;
    font-style: bold;
    text-align: center;    
}
    
tfoot {
    background-color: black;
    color: white;
    text-align: center;
}
